<launch>
  
  <include file="$(find ur5_with_robotiq_gripper_des)/launch/description.launch"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
</launch>

